---
import Layout from "@layouts/Layout.astro"
import CodeEditor from "@components/CodeEditor/index.vue"
import PageNavigation from "@components/PageNavigation.vue"
import { getCollection, render } from "astro:content";


export const getStaticPaths = async () => {
  const tutorials = await getCollection("tutorials");

  return tutorials.map((tutorial) => {
    const index = tutorial.data.index;
    return {
      params: { id: index },
      props: {
        tutorial,
        tutorialCount: tutorials.length,
      },
    };
  });
};

const id = Number(Astro.params.id);
const {tutorial, tutorialCount} = Astro.props;
const title = tutorial.data.title;
const starterCode = tutorial.data.starterCode;
const prevIndex = id > 1 ? id - 1 : null;
const nextIndex = id < tutorialCount ? id + 1 : null;

const { Content } = await render(tutorial);


---

<Layout title={`Terminal -  ${title}`}>
  <main> 
    <h1>{id}. {title}</h1>
    <div class="grid-container">
      <div class="exercise-container">
        <div class="markdown-container">
          <Content />
        </div>
        <PageNavigation client:load prevIndex={prevIndex} nextIndex={nextIndex} />
      </div>
      <CodeEditor client:only starterCode={starterCode} />
    </div>
  </main>
</Layout>


<style is:global>
p {
  color: var(--sky-500);
  font-size: 1.375rem;
}
</style>

<style scoped>
  main {
    display: grid;
    grid-template-rows: auto 3fr;
    gap: 1.5rem;
    padding: 4rem 0;
    height: 100%;
    min-height: 0;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 1;
    font-weight: 400;
    color: var(--sky-400);
    width: 100%;
    text-align: left;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    height: 100%;
    min-height: 0;
  }

  .exercise-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-height: 0;
    height: 100%;
  }

  .markdown-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    flex: 1;
  }
</style>


