---
import Layout from "@layouts/Layout.astro"
import CodeBlock from "@components/CodeBlock.vue"
import CodeEditor from "@components/CodeEditor.vue"
import PageNavigation from "@components/PageNavigation.vue"

export const getStaticPaths = () => {
  const pages = [
    { id: 1, title: "LET statements" },
    { id: 2, title: "FOR loops" },
    { id: 3, title: "IF statements" },
  ];

  return pages.map((page, index) => {
    return {
      params: { id: page.id },
      props: {
        title: page.title,
        prevIndex: index > 0 ? pages[index - 1]?.id as number : null,
        nextIndex: index < pages.length - 1 ? pages[index + 1]?.id as number : null,
      },
    };
  });
};
const {id} = Astro.params;
const {title, prevIndex, nextIndex} = Astro.props;
---

<Layout title={`Terminal -  Tutorial ${id}`}>
  <main> 
    <h1>{id}. {title}</h1>
    <div class="grid-container">
      <div class="exercise-container">
        <div class="markdown-container">
          <p>Storing variables is done with LET statements. The syntax for LET statements is the following:</p>
          <CodeBlock client:load code="<line-number> LET <variable-name> = <numeric-value>" />
          <p>More concretely, a simple LET statement could look like the following:</p>
          <CodeBlock client:load code="LET HELLO_VARIABLE = 10" />
        </div>
        <PageNavigation client:load prevIndex={prevIndex} nextIndex={nextIndex} />
      </div>
      <CodeEditor client:load />
    </div>
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-rows: auto 3fr;
    gap: 1.5rem;
    padding: 4rem 0;
    height: 100%;
    min-height: 0;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 1;
    font-weight: 400;
    color: var(--sky-400);
    width: 100%;
    text-align: left;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    height: 100%;
    min-height: 0;
  }

  .exercise-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-height: 0;
    height: 100%;
  }

  .markdown-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    flex: 1;
  }

  p {
    color: var(--sky-500);
    font-size: 1.5rem;
  }
</style>
